Slack web scrap workflow (1).json
{
  "name": "Slack web scrap workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const summary =\n  $json.output?.[0]?.content?.[0]?.text ||\n  \"⚠️ No summary generated.\";\n\nconst slackMessage = `\n${summary}\n\n━━━━━━━━━━━━━━━\n📰 Source: Bing News RSS\n🤖 Generated by n8n AI Newsletter\n`;\n\nreturn [{ slackText: slackMessage }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        288
      ],
      "id": "f1be9b67-9987-40a7-91e3-26d5d066ab6d",
      "name": "Js newsletter  For Slack "
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "@indhu11v",
          "mode": "username"
        },
        "text": "={{$json.slackText}}\n",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -1536,
        288
      ],
      "id": "74c36f9a-6983-402f-ad9d-5e827b7084b5",
      "name": "Send Message in Slack",
      "webhookId": "a43e1311-c811-4558-8fb6-159b4c64330a",
      "credentials": {
        "slackApi": {
          "id": "USEPEcdotPSUobV2",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary =\n  $json.output?.[0]?.content?.[0]?.text ||\n  \"No summary available.\";\n\nconst query = $json.query || \"AI News\";\n\n// Convert bullets to HTML\nconst formattedSummary = summary\n  .replace(/🚀 \\*(.*?)\\*/g, `\n    <div style=\"background:#E3F2FD; padding:14px; border-left:5px solid #1976D2; margin-bottom:16px; border-radius:6px;\">\n      <h3 style=\"margin:0 0 8px; color:#0D47A1;\">🚀 $1</h3>\n  `)\n  .replace(/🔥 \\*(.*?)\\*/g, `\n    </div>\n    <div style=\"background:#FFF3E0; padding:14px; border-left:5px solid #FB8C00; margin-bottom:16px; border-radius:6px;\">\n      <h3 style=\"margin:0 0 8px; color:#E65100;\">🔥 $1</h3>\n  `)\n  .replace(/🧠 \\*(.*?)\\*/g, `\n    </div>\n    <div style=\"background:#E8F5E9; padding:14px; border-left:5px solid #2E7D32; margin-bottom:16px; border-radius:6px;\">\n      <h3 style=\"margin:0 0 8px; color:#1B5E20;\">🧠 $1</h3>\n  `)\n  .replace(/• (.*)/g, `<p style=\"margin:4px 0;\">• $1</p>`)\n  + `</div>`;\n\nconst htmlEmail = `\n<body style=\"background:#F4F6F8; font-family:Arial, sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" style=\"background:#FFFFFF; border-radius:8px; padding:24px;\">\n          <tr>\n            <td>\n              <h1 style=\"color:#1F3C88;\">🧭 AI News Digest</h1>\n              <p style=\"color:#555;\">Topic: ${query}</p>\n              ${formattedSummary}\n              <hr>\n              <p style=\"font-size:12px; color:#888;\">\n                📰 Source: Bing News RSS<br>\n                🤖 Generated by n8n AI Workflow\n              </p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n`;\n\nreturn [{ summary_email: htmlEmail }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        480
      ],
      "id": "ae11debd-c04b-4295-a119-88aa2dc00222",
      "name": "Js Newsletter HTML format for Mail"
    },
    {
      "parameters": {
        "sendTo": "=indhu11v@gmail.com",
        "subject": "=Latest Update - {{new Date().toDateString()}}\n\n",
        "message": "={{$json.summary_email}}\n\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1536,
        480
      ],
      "id": "0a377855-b142-4cd7-aaf3-80414c8c6706",
      "name": "Sending  Newsletter to Email",
      "webhookId": "4749a5ee-34c7-40b4-904e-7898181d6bd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "vL2VNFYXJkyN3336",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0A8ARR6G65",
          "mode": "list",
          "cachedResultName": "n8n-bot"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -3456,
        384
      ],
      "id": "ef488d22-68e2-49db-a7f9-e747f5de98d8",
      "name": "Slack Trigger",
      "webhookId": "53e596b5-9b01-4055-8bf3-4dcf2749adef",
      "credentials": {
        "slackApi": {
          "id": "USEPEcdotPSUobV2",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=https://www.bing.com/news/search?q={{$json.topic}}&format=rss\n",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3008,
        384
      ],
      "id": "4acd2ccd-2dfc-4c87-bdfe-706f36779ade",
      "name": "Bing Search"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ RSS XML\nconst xml = $json.data;\n\n// --- Extract topic from RSS <title> ---\nlet topic = \"Unknown topic\";\nconst titleMatch = xml.match(/<channel>[\\s\\S]*?<title>(.*?)<\\/title>/i);\n\nif (titleMatch && titleMatch[1]) {\n  topic = titleMatch[1].replace(\" - BingNews\", \"\").trim();\n}\n\n// --- Extract RSS items ---\nconst items = [...xml.matchAll(/<item>([\\s\\S]*?)<\\/item>/gi)];\n\nfunction extract(block, tag) {\n  const match = block.match(\n    new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, \"i\")\n  );\n  if (!match) return \"\";\n  return match[1]\n    .replace(/<!\\[CDATA\\[|\\]\\]>/g, \"\")\n    .replace(/<[^>]+>/g, \"\")\n    .replace(/&quot;/g, `\"`)\n    .replace(/&amp;/g, \"&\")\n    .trim();\n}\n\n// --- Build articles ---\nconst articles = items.slice(0, 5).map((m, i) => {\n  const block = m[1];\n  return {\n    rank: i + 1,\n    title: extract(block, \"title\"),\n    desc: extract(block, \"description\"),\n    link: extract(block, \"link\")\n  };\n});\n\n// --- Build message ---\nconst message =\n  `🗞️ *Top results for:* _${topic}_\\n\\n` +\n  articles.map(a => `*${a.title}*\\n${a.desc}`).join(\"\\n\\n\");\n\n// --- Return clean, stable output ---\nreturn [{\n  topic,\n  articles,\n  message\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        384
      ],
      "id": "30a26fbb-2bc0-43e3-adf1-9239a0227135",
      "name": "Convert search result"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "=user",
              "content": "={{$json.final_prompt}}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2112,
        384
      ],
      "id": "cf2f517d-955b-40c8-b607-c7a23dcc8798",
      "name": "Formatter",
      "credentials": {
        "openAiApi": {
          "id": "0aEWEas1atFIad8Q",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6dda20a6-6e64-45c0-8e4a-a33d03551562",
              "name": "topic",
              "value": "={{$json.text}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3232,
        384
      ],
      "id": "d5f81065-4007-455a-9a05-8152000b174b",
      "name": "Get search topic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4266b928-275f-4abf-86a1-61aa604aaab5",
              "name": "summary_input",
              "value": "=={{$json.articles.map(a => a.title + \" — \" + a.desc).join(\"\\n\")}}",
              "type": "string"
            },
            {
              "id": "cdb8c7c4-c6cd-4e39-9989-3ff5d05cd262",
              "name": "topic",
              "value": "={{$json.topic}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2560,
        384
      ],
      "id": "d43b6c45-f26a-4f17-bc49-6f728f5348c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "753a5676-ef9c-4043-a836-26e4e6ef7847",
              "name": "=final_prompt",
              "value": "=You are a professional AI news editor.  IMPORTANT RULE: - The topic is FIXED and MUST NOT be changed.  FIXED TOPIC: {{$json.topic}}  TASK (STRICT): - Create EXACTLY 5 news items - Each item must have:   • One attractive emoji-based heading   • EXACTLY 3 short explanation lines - Be factual and concise - Do NOT include links - Do NOT include numbering  FORMAT EXACTLY LIKE THIS:  🧭 AI News Digest Topic: {{$json.topic}}  🚀 <Heading> • line one explanation • line two explanation • line three explanation  🔐 <Heading> • line one explanation • line two explanation • line three explanation  📈 <Heading> • line one explanation • line two explanation • line three explanation  🧠 <Heading> • line one explanation • line two explanation • line three explanation  ⚖️ <Heading> • line one explanation • line two explanation • line three explanation  CONTENT TO ANALYZE: {{$json.summary_input}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2336,
        384
      ],
      "id": "06b7ce06-4c9b-44f3-961c-b58135b0ed88",
      "name": "Formatter Prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "Js newsletter  For Slack ": {
      "main": [
        [
          {
            "node": "Send Message in Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Js Newsletter HTML format for Mail": {
      "main": [
        [
          {
            "node": "Sending  Newsletter to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Get search topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bing Search": {
      "main": [
        [
          {
            "node": "Convert search result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert search result": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Js newsletter  For Slack ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Js Newsletter HTML format for Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get search topic": {
      "main": [
        [
          {
            "node": "Bing Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Formatter Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter Prompt": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3a3b7b78-b2d1-4590-a64a-a7e33c8249b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "310dcae0db119fa36dddbb4021f1f607bc93928bb3db0c047b7218681fa61164"
  },
  "id": "z1bIMULIizKkEX8q",
  "tags": []
}